python-dotenv==1.0.1
httpx>=0.28.1
pandas==2.2.2
pydantic==2.9.2
pydantic-settings==2.5.2
rapidfuzz==3.13.0
typer==0.12.5
click==8.1.7
structlog==24.4.0
linkdapi==1.0.8
PyYAML==6.0.2
beautifulsoup4==4.12.3
playwright==1.48.0
playwright-stealth==2.0.2
